.container{
    border: 2px solid white;
    background-color: rgba(211, 211, 211, 0.50);
    border-radius: 5px;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
.imgContainer{
    background-color: lightgrey;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 800px;
    margin: 20px;
}
.container img{
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}
.editControls{
    height: 100px;
    border: 2px solid white;
}
.imgControls{
    height: auto;
}
.imgControls button{
    width: 100px;
    height: 30px;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 5px;
    padding: 5px;
    background-color: hsla(91, 70%, 15%, 0.7);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: backgroud-color 0.5s ease;
}
.imgControls button:hover{
    background-color: hsla(91, 40%, 40%, 0.9);
}